<h1>Jeremy Choi</h1>
<h2>Welcome to my page!</h3>
<h3>
	<a href="https://github.com/Jyrmi">github</a>
	<a href="https://www.linkedin.com/pub/jeremy-choi/84/891/873">LinkedIn</a>
	<a href="https://www.facebook.com/jer.ch.1">facebook</a>
	<%= link_to "random link", "#"%>
</h3>